<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>DUEM Realtime Telemetry</title>

	<!-- Bootstrap core CSS -->
	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../static/dash.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
     <![endif]-->
    </head>

    <body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse in" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
			<div class="row">
			    <div class="col-xs-12 col-sm-3"><sol1><h1><div id="top1">N/A</div></h1>km/h<br>Vehicle Vel.</sol1></div>
			    <div class="col-xs-12 col-sm-3"><sol2><h1><div id="top2">N/A</div></h1>A<br>Motor Curr.</sol2></div>
			    <div class="col-xs-12 col-sm-3"><sol3><h1><div id="top3">N/A</div></h1>°C<br>Motor Temp.</sol3></div>
			    <div class="col-xs-12 col-sm-3"><sol4><h1><div id="top4">N/A</div></h1>V<br>Batt. Volt.</sol4></div>
			</div>	  
		    </ul>
		</div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
	    <div class="row">
		<div class="main">
		    <h2 class="sub-header">Telemetry</h2>
		    <h3>DC Bus</h3>
		    <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Bus Current</p>
				    <p class="alignright"><span id ="busCurrent">0</span> A</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body", id="panel-body">
				    <span class="busCurrentSpark">Loading..</span>
				</div>
			    </div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Bus Voltage</p>
				    <p class="alignright"><span id ="busVoltage">0</span> V</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class="busVoltageSpark">Loading..</span>
				</div>
			    </div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">DC Bus Amp-hours</p>
				    <p class="alignright"><span id ="DCBusAmpHours">0</span> Ah</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class="DCBusAmpHoursSpark">Loading..</span>
				</div>
			    </div>
			</div>
		    </div>

		    <h3>Motor</h3> 
		    <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Motor Velocity</p>
				    <p class="alignright"><span id ="motorVelocity">0</span> rpm</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="motorVelocitySpark">Loading..</span><br>
				</div>
			    </div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Phase A Current</p>
				    <p class="alignright"><span id ="phaseACurrent">0</span> A</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="phaseACurrentSpark">Loading..</span><br>
				</div>
			    </div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Phase B Current</p>
				    <p class="alignright"><span id ="phaseBCurrent">0</span> A</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="phaseBCurrentSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Vector Voltage (Real)</p>
				    <p class="alignright"><span id ="vectVoltReal">0</span> V</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="vectVoltRealSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Vector Voltage (Imaginary)</p>
				    <p class="alignright"><span id ="vectVoltImag">0</span> V</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="vectVoltImagSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Vector Current (Real)</p>
				    <p class="alignright"><span id ="vectCurrReal">0</span> A</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="vectCurrRealSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Vector Current (Imaginary)</p>
				    <p class="alignright"><span id ="vectCurrImag">0</span> A</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="vectCurrImagSpark">Loading..</span><br>
				</div>
			    </div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Back EMF (Real)</p>
				    <p class="alignright"><span id ="backEMFReal">0</span> V</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="backEMFRealSpark">Loading..</span><br>
				</div>
			    </div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Back EMF (Imaginary)</p>
				    <p class="alignright"><span id ="backEMFImag">0</span> V</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="backEMFImagSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Motor Temperature</p>
				    <p class="alignright"><span id ="motorTemp">0</span> °C</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="motorTempSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
		    </div>                  
		    <h3>Motor Controller</h3>    
		    <div class="row">

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">15 V Rail</p>
				    <p class="alignright"><span id ="fifteenVsupply">0</span> V</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="fifteenVsupplySpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">1.65 V Rail</p>
				    <p class="alignright"><span id ="onesixfiveVsupply">0</span> V</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="onesixfiveVsupplySpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">2.5 V Rail</p>
				    <p class="alignright"><span id ="twofiveVsupply">0</span> V</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="twofiveVsupplySpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">1.2 V Rail</p>
				    <p class="alignright"><span id ="onetwoVsupply">0</span> V</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="onetwoVsupplySpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Fan Speed</p>
				    <p class="alignright"><span id ="fanSpeed">0</span> RPM</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="fanSpeedSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Fan Drive</p>
				    <p class="alignright"><span id ="fanDrive">0</span> RPM</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="fanDriveSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Heatsink Temperature</p>
				    <p class="alignright"><span id ="heatSinkTemp">0</span> °C</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="heatSinkTempSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Processor Temperature</p>
				    <p class="alignright"><span id ="processorTemp">0</span> °C</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="processorTempSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Air Outlet Temperature</p>
				    <p class="alignright"><span id ="airOutletTemp">0</span> °C</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="airOutletTempSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Capacitor Temperature</p>
				    <p class="alignright"><span id ="capacitorTemp">0</span> °C</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="capacitorTempSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
		    </div>     
		    <h3>Vehicle</h3>                  
		    <div class="row">

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Vehicle Velocity</p>
				    <p class="alignright"><span id ="vehicleVelocity">0</span> m/s</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="vehicleVelocitySpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Air Inlet Temperature</p>
				    <p class="alignright"><span id ="airInletTemp">0</span> °C</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="airInletTempSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Odometer</p>
				    <p class="alignright"><span id ="Odometer">0</span> m</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="OdometerSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
		    </div>                  

		    <h3>Controls</h3>                  
		    <div class="row">

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Desired Motor Speed</p>
				    <p class="alignright"><span id ="setMotorVelocity">0</span> m/s</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="setMotorVelocitySpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Desired Motor Current</p>
				    <p class="alignright"><span id ="setMotorCurrent">0</span> A</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="setMotorCurrentSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Desired Bus Current</p>
				    <p class="alignright"><span id ="setBusCurrent">0</span> A</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="setBusCurrentSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
		    </div>
		    <h3>GPS</h3>                  
		    <div class="row">

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Latitude</p>
				    <p class="alignright"><span id ="lat">0</span> °</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="latSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Longitude</p>
				    <p class="alignright"><span id ="lon">0</span> °</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="lonSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">GPS Speed</p>
				    <p class="alignright"><span id ="speed">0</span> m/s</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="speedSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="alignleft">Altitude</p>
				    <p class="alignright"><span id ="alt">0</span> m</p>
				    <div style="clear: both;"></div>
				</div>
				<div class="panel-body">
				    <span class ="altSpark">Loading..</span><br>
				</div>
			    </div>
			</div>
		    </div>                  
		</div>                  
	    </div>
	</div>

	<!-- Bootstrap core JavaScript
     ================================================== -->
     <!-- Placed at the end of the document so the pages load faster -->
     <script src="../static/jquery-1.12.3.js"></script>
     <script src="../static/jquery.sparkline.js"></script>
     <script src="../static/bootstrap/js/bootstrap.min.js"></script>
     <script type="text/javascript">
var sparkdata = {"busCurrent": [],
    "busVoltage": [],
    "vehicleVelocity": [],
    "motorVelocity": [],
    "phaseACurrent": [],
    "phaseBCurrent": [],
    "vectVoltReal": [],
    "vectVoltImag": [],
    "vectCurrReal": [],
    "vectCurrImag": [],
    "backEMFReal": [],
    "backEMFImag": [],
    "fifteenVsupply": [],
    "onesixfiveVsupply": [],
    "twofiveVsupply": [],
    "onetwoVsupply": [],
    "fanSpeed": [],
    "fanDrive": [],
    "heatSinkTemp": [],
    "motorTemp": [],
    "airInletTemp": [],
    "processorTemp": [],
    "airOutletTemp": [],
    "capacitorTemp": [],
    "DCBusAmpHours": [],
    "Odometer": [],
    "setMotorCurrent": [],
    "setMotorVelocity": [],
    "speed": [],
    "alt": [],
    "lon": [],
    "lat": [],
    "setBusCurrent": []};
var updateInterval = 1000;
var sparklength = (1000/updateInterval) * 60 * 2;
window.onload = function () {
    var yVal = 100;
    var updateInterval = 1000;
    var updateMotorState = function () {
	var jqxhr = $.getJSON( "motorjson", {_: new Date().getTime()},
		function(motorstate) {
		    var fields = motorstate;
		    updateHeader(fields);
		    updateBody(fields);
		    updateSparks(fields, sparkdata, sparklength);
		});
    };
    var updateControlsState = function () {
	var jqxhr = $.getJSON( "controlsjson", {_: new Date().getTime()},
		function(motorstate) {
		    var fields = motorstate;
		    updateHeader(fields);
		    updateBody(fields);
		    updateSparks(fields, sparkdata, sparklength);
		});
    };
    var updateGPSState = function () {
	var jqxhr = $.getJSON( "gpsjson", {_: new Date().getTime()},
		function(motorstate) {
		    var fields = motorstate;
		    updateHeader(fields);
		    updateBody(fields);
		    updateSparks(fields, sparkdata, sparklength);
		});
    };

    // update chart after specified time.
    setInterval(function(){updateMotorState()}, updateInterval);
    setInterval(function(){updateControlsState()}, updateInterval);
    setInterval(function(){updateGPSState()}, updateInterval);

}
function updateHeader(fields) {
    if ("vehicleVelocity" in fields) {
	document.getElementById("top1").innerHTML = (fields.vehicleVelocity*3.6).toPrecision(3);
	document.getElementById("top2").innerHTML = Math.sqrt(Math.pow(fields.vectCurrReal,2) +Math.pow(fields.vectCurrImag,2)).toPrecision(3);
	document.getElementById("top3").innerHTML = fields.motorTemp.toPrecision(3);
	document.getElementById("top4").innerHTML = fields.busVoltage.toPrecision(3);
    }};
function updateBody(fields) {
    for (key in fields){
	try{
	    if (key != "time") {
		document.getElementById(key).innerHTML= fields[key].toPrecision(3);
	    }
	}
	catch (err) {};
    }
};
function updateSparks(fields, sparkdata, sparklength) {
    for (key in fields){
	try{
	    sparkdata[key].push(fields[key]);
	    if (sparkdata[key].length > sparklength)
		sparkdata[key].splice(0,1)
		    sparkname = "." + key+"Spark"
		    $(sparkname).sparkline(sparkdata[key], {
			type: 'line',
			height: '2em',
			width: document.getElementById("panel-body").clientWidth - 30,
			lineColor: '#000000',
			fillColor: false,
			minSpotColor: undefined,
			maxSpotColor: undefined,
			highlightSpotColor: undefined,
			highlightLineColor: undefined,
			spotRadius: 1});
	}
	catch (err) {};
    };
};
     </script>
    </body>
</html>


